# This is a basic workflow to help you get started with Actions

name: cobalt CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "dev/cefi" branch
  push:
    branches: [ "dev/cefi" ]
  pull_request:
    branches: [ "dev/cefi" ]

env:
  BRANCH_NAME: dev/cefi 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # define container
    #container:
    #   image: clouden90/1d_mom6_cobalt:base
    #   options: --user root

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: jitterbit/get-changed-files@v1
        id: abc
        with:
          format: space-delimited
          token: ${{ secrets.GITHUB_TOKEN }}   

      # git clone CEFI-regional-MOM6 and replace ocean_BGC
      - name: git clone CEFI-regional-MOM6 
        run: |
          cd ..
          git clone -b $BRANCH_NAME https://github.com/NOAA-GFDL/CEFI-regional-MOM6.git --recursive
          rm -rf CEFI-regional-MOM6/src/ocean_BGC
          cp -r ocean_BGC CEFI-regional-MOM6/src
          
      # run 1D mom6sis2-cobalt test
      - name: Build 1D mom6sis2-cobalt Docker Image
        run: |
          echo "docker image build ..."
          cd ../CEFI-regional-MOM6
          docker build --file "./ci/docker/Dockerfile.ci" -t mom6_obgc_1d:develop . 

      - name: Check mom6_obgc 1D Docker Image build 
        run: |      
          docker images
          if [[ $(docker image inspect mom6_obgc_1d:develop) ]]; then
               echo "mom6_obgc_1d:develop generated ..."
          else
               echo "mom6_obgc_1d:develop was not generated ..."
               exit 1
          fi 
