# This is a basic workflow to help you get started with Actions

name: cobalt CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "dev/cefi" branch
  push:
    branches: [ "dev/cefi" ]
  pull_request:
    branches: [ "dev/cefi" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Build and Test within Docker container
      - name: Build and Test
        uses: docker://clouden90/1d_mom6_cobalt:base:
        with:
          args: |
            ls -l -h
            pwd
            which wget
